@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a translator application.</p>
    <p>The default source language is English and target language is French.</p>
    <p>You can modify your languages of choice by selecting from the dropdown menus.</p>
</div>
